# vim: noet

# FIGMENTIZE: git
#    ____  .__   __
#   / ___\ |__|_/  |_
#  / /_/  >|  |\   __\
#  \___  / |  | |  |
# /_____/  |__| |__|

# This is a file with some global configurations for Git. The usual way to
# change the options here is to use $ git config, but it's also fine to just
# edit by hand.

# If this file breaks, git can refuse to run due to "bad config", so be wary of
# that if you're hacking around in here.

[user]
	# Obviously, these bits probably don't apply to you, unless you're me, in which
	# case - hi me!
	email = izaak.van.dongen@gmail.com
	name = Izaak van Dongen
[credential]
	# Store credentials for github etc in plain text. This is probably quite
	# bad, but it's easy, so hey, who cares
	helper = store
[merge]
	tool = vimdiff
[core]
	excludesfile = ~/.gitignore
[alias]
	c = commit -v
	ca = commit -v --all
	co = checkout
	st = status --show-stash
	# consistent with the existence of `git rm`, `git mv`, etc
	ls = ls-files
	unstage = reset HEAD --
	unchange = checkout --
	a = add
	aa = add --all
	au = add --update
	unadd = rm --cached
	; this is an aliases that expands to a shell command. You can use $1 etc
	; inside the command and then finish the command with a # to ignore the
	; supplied arguments.
	grephistory = "!git rev-list --all | xargs git grep"
	; git is surprisingly clever here - the git ls-files knows to use the bare
	; repository when it's cfg.
	figmentize = "!git ls-files -z | xargs -0 -n1 figmentize"
	; open all files in vim, reattaching the terminal as input
	vim = "!git ls-files -z | xargs -0 bash -c '</dev/tty vim \"$@\"' #"
	; edit files in vim and add them afterwards, because typing two commands is
	; for nerds
	vi = "!cd -- \"${GIT_PREFIX:-.}\"; vim \"$@\"; git add \"$@\" #"
	grepvim = "!git grep -liz \"$1\" | xargs -0 bash -c '</dev/tty vim \"$@\"' #"
	sm-add-existing = "!cd -- \"${GIT_PREFIX:-.}\"; git submodule add -b master \"$(cd -- \"$1\"; git remote get-url origin)\" #"
	sm-reattach = "submodule foreach 'git checkout master' #"
	sm-status = "submodule foreach 'git status' #"
