[submodule ".zplugins/zsh-syntax-highlighting"]
	path = .zplugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".zplugins/powerlevel10k"]
	path = .zplugins/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/CamelCaseMotion"]
	path = .vim/bundle/CamelCaseMotion
	url = https://github.com/bkad/CamelCaseMotion.git
[submodule ".vim/bundle/fzf.vim"]
	path = .vim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule ".vim/bundle/goyo.vim"]
	path = .vim/bundle/goyo.vim
	url = https://github.com/junegunn/goyo.vim.git
[submodule ".vim/bundle/lightline-bufferline"]
	path = .vim/bundle/lightline-bufferline
	url = https://github.com/mengelbrecht/lightline-bufferline.git
[submodule ".vim/bundle/lightline.vim"]
	path = .vim/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule ".vim/bundle/python-syntax"]
	path = .vim/bundle/python-syntax
	url = https://github.com/vim-python/python-syntax.git
[submodule ".vim/bundle/quick-scope"]
	path = .vim/bundle/quick-scope
	url = https://github.com/unblevable/quick-scope.git
[submodule ".vim/bundle/rainbow"]
	path = .vim/bundle/rainbow
	url = https://github.com/luochen1990/rainbow.git
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/ultisnips"]
	path = .vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule ".vim/bundle/undotree"]
	path = .vim/bundle/undotree
	url = https://github.com/mbbill/undotree.git
[submodule ".vim/bundle/unicode.vim"]
	path = .vim/bundle/unicode.vim
	url = https://github.com/chrisbra/unicode.vim.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule ".vim/bundle/vim-delphi"]
	path = .vim/bundle/vim-delphi
	url = git://github.com/rkennedy/vim-delphi.git
[submodule ".vim/bundle/vim-easy-align"]
	path = .vim/bundle/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule ".vim/bundle/vim-easymotion"]
	path = .vim/bundle/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule ".vim/bundle/vim-eunuch"]
	path = .vim/bundle/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-indent-object"]
	path = .vim/bundle/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule ".vim/bundle/vim-misc"]
	path = .vim/bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule ".vim/bundle/vim-notes"]
	path = .vim/bundle/vim-notes
	url = https://github.com/xolox/vim-notes.git
[submodule ".vim/bundle/vim-plug"]
	path = .vim/bundle/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".vim/bundle/vim-snippets"]
	path = .vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule ".vim/bundle/vim-speeddating"]
	path = .vim/bundle/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/bundle/vim-tbone"]
	path = .vim/bundle/vim-tbone
	url = https://github.com/tpope/vim-tbone.git
[submodule ".vim/bundle/vim-textobj-entire"]
	path = .vim/bundle/vim-textobj-entire
	url = https://github.com/kana/vim-textobj-entire.git
[submodule ".vim/bundle/vim-textobj-fold"]
	path = .vim/bundle/vim-textobj-fold
	url = https://github.com/kana/vim-textobj-fold.git
[submodule ".vim/bundle/vim-textobj-line"]
	path = .vim/bundle/vim-textobj-line
	url = https://github.com/kana/vim-textobj-line
[submodule ".vim/bundle/vim-textobj-user"]
	path = .vim/bundle/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user
[submodule ".vim/bundle/vim-unimpaired"]
	path = .vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule ".vim/bundle/vim-Verdin"]
	path = .vim/bundle/vim-Verdin
	url = https://github.com/machakann/vim-Verdin.git
[submodule ".vim/bundle/vim-vinegar"]
	path = .vim/bundle/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "ack.vim"]
	branch = master
[submodule "CamelCaseMotion"]
	branch = master
[submodule "fzf.vim"]
	branch = master
[submodule "goyo.vim"]
	branch = master
[submodule "lightline-bufferline"]
	branch = master
[submodule "lightline.vim"]
	branch = master
[submodule "python-syntax"]
	branch = master
[submodule "quick-scope"]
	branch = master
[submodule "rainbow"]
	branch = master
[submodule "tabular"]
	branch = master
[submodule "ultisnips"]
	branch = master
[submodule "undotree"]
	branch = master
[submodule "unicode.vim"]
	branch = master
[submodule "vim-colors-solarized"]
	branch = master
[submodule "vim-commentary"]
	branch = master
[submodule "vim-delphi"]
	branch = master
[submodule "vim-easy-align"]
	branch = master
[submodule "vim-easymotion"]
	branch = master
[submodule "vim-eunuch"]
	branch = master
[submodule "vim-fugitive"]
	branch = master
[submodule "vim-indent-object"]
	branch = master
[submodule "vim-misc"]
	branch = master
[submodule "vim-notes"]
	branch = master
[submodule "vim-plug"]
	branch = master
[submodule "vim-repeat"]
	branch = master
[submodule "vim-snippets"]
	branch = master
[submodule "vim-speeddating"]
	branch = master
[submodule "vim-surround"]
	branch = master
[submodule "vim-tbone"]
	branch = master
[submodule "vim-textobj-entire"]
	branch = master
[submodule "vim-textobj-fold"]
	branch = master
[submodule "vim-textobj-line"]
	branch = master
[submodule "vim-textobj-user"]
	branch = master
[submodule "vim-unimpaired"]
	branch = master
[submodule "vim-Verdin"]
	branch = master
[submodule "vim-vinegar"]
	branch = master
