# global gitignore

# FIGMENTIZE: gitignore
#    ____  .__   __   .__    ____
#   / ___\ |__|_/  |_ |__|  / ___\  ____    ____ _______   ____
#  / /_/  >|  |\   __\|  | / /_/  >/    \  /  _ \\_  __ \_/ __ \
#  \___  / |  | |  |  |  | \___  /|   |  \(  <_> )|  | \/\  ___/
# /_____/  |__| |__|  |__|/_____/ |___|  / \____/ |__|    \___  >
#                                      \/                     \/

tags
__pycache__
*.pyc
*.pdf
*.o
