# vim: ft=sh

#                                 _____ .__ .__
# ___  _________ _______   ____ _/ ____\|__||  |    ____
# \  \/  /\____ \\_  __ \ /  _ \\   __\ |  ||  |  _/ __ \
#  >    < |  |_> >|  | \/(  <_> )|  |   |  ||  |__\  ___/
# /__/\_ \|   __/ |__|    \____/ |__|   |__||____/ \___  >
#       \/|__|                                         \/
# FIGMENTIZE: xprofile

xset r rate 200 30
unclutter --timeout 1 &
compton --no-fading-openclose &

. "$HOME/.profile"

[ -r ~/.Xresources ] && xrdb -merge -I"$XDOTDIR" ~/.Xresources
[ -r ~/.Xmodmap ] && xmodmap ~/.Xmodmap
