# vim: ft=sh

# FIGMENTIZE: xprofile
#                                 _____ .__ .__
# ___  _________ _______   ____ _/ ____\|__||  |    ____
# \  \/  /\____ \\_  __ \ /  _ \\   __\ |  ||  |  _/ __ \
#  >    < |  |_> >|  | \/(  <_> )|  |   |  ||  |__\  ___/
# /__/\_ \|   __/ |__|    \____/ |__|   |__||____/ \___  >
#       \/|__|                                         \/

xset r rate 200 30
unclutter --timeout 1 &
compton --no-fading-openclose &

source $HOME/.profile
